{% extends 'layout.html' %}

{% block body %}
  <div class="cover-container d-fle -->x w-100 h-100 p-3 mx-auto flex-column">
  <header class="masthead mb-auto">
    <div class="text-center">
      <h3 class="masthead-brand">Welcome to My Entry Managment Software</h3>
      <body>
        <p> This is the web application made for visitor register record entry managment system </p>
        <a href="/checkin" class="btn btn-primary ">Check In</a>
      <a href="/checkout" class="btn btn-success ">Check Out</a>
      </body>
  </div>
</header>
</div>
{% endblock %}
   